In [24]:
from jqdatasdk import *
auth('18161870857','ZTYhyh123123') 
import time
import pandas as pd

In [25]:
# 设置行列不忽略
pd.set_option('display.max_rows',10000)
pd.set_option('display.max_columns',10)

In [26]:
# 获取日K
df = get_price('000001.XSHE',count=20,end_date='2022-06-22',frequency='daily',panel=False)
df['weekday'] = df.index.weekday
df.head()

             open  close   high    low       volume         money  weekday
2022-05-25  13.84  13.80  13.90  13.71   62904911.0  8.662289e+08        2
2022-05-26  13.82  13.61  13.84  13.49  105460645.0  1.435689e+09        3
2022-05-27  13.70  13.60  13.76  13.53   75401721.0  1.029702e+09        4
2022-05-30  13.67  13.50  13.69  13.46   93529259.0  1.265573e+09        0
2022-05-31  13.49  13.58  13.60  13.43   97905630.0  1.325012e+09        1

In [27]:
# 获取周K(当周)，开盘价(当周第一天)，收盘价(当周最后一天),最高价(当周)，最低价(当周)
# 获取开盘价
df_week = pd.DataFrame()
df_week['open'] = df['open'].resample('W').first()
df_week['close'] = df['close'].resample('W').last()
df_week['high'] = df['high'].resample('W').max()
df_week['low'] = df['low'].resample('W').min()
df_week.head()

             open  close   high    low
2022-05-29  13.84  13.60  13.90  13.49
2022-06-05  13.67  13.38  13.69  13.31
2022-06-12  13.34  13.73  13.87  13.08
2022-06-19  13.60  13.86  14.49  13.15
2022-06-26  13.85  13.50  14.03  13.50

In [28]:
# 汇总统计：统计一下月成交量，成交额
df_week['volume(sum)'] = df['volume'].resample('W').sum()
df_week['money(sum)'] = df['money'].resample('W').sum()
df_week.head()

             open  close   high    low  volume(sum)    money(sum)
2022-05-29  13.84  13.60  13.90  13.49  243767277.0  3.331620e+09
2022-06-05  13.67  13.38  13.69  13.31  381701568.0  5.141750e+09
2022-06-12  13.34  13.73  13.87  13.08  745646814.0  1.009933e+10
2022-06-19  13.60  13.86  14.49  13.15  886285777.0  1.222970e+10
2022-06-26  13.85  13.50  14.03  13.50  355597015.0  4.883292e+09